<!-- Assuming this is part of one of your tab pages -->
<ion-content>
  <ion-card>
    <ion-card-header>
      <h1>{{ 'RADIO_COLLAR_MANAGEMENT.RADIO_COLLAR_MANAGEMENT' | translate }}</h1>
      <p> Total Items: {{ collars.length }}</p>
    </ion-card-header>

    <ion-card-content>


      <!-- Date Range Filter -->
      <div class="filter">
        <!-- <div>
          <div class="form-group">

            <ion-input id="startDate" label="{{ 'MY_TRACKS_PAGE.START_DATE' | translate
          }}" [(ngModel)]="startDate" type="date" class="ion-text-end"></ion-input>
          </div>
          <div class="form-group">

            <ion-input id="endDate" label="{{ 'MY_TRACKS_PAGE.END_DATE' | translate
          }}" [(ngModel)]="endDate" type="date" class="ion-text-end"></ion-input>
          </div>
        </div> -->
        <ion-button  (click)="fetchCollars()">{{'REFRESH' | translate}}</ion-button>
      </div>


      <!-- Data Display in Table-like Format -->
      <ion-card>

        <ion-row class="header">
          <ion-col class="col-id"><strong>{{ 'RADIO_COLLAR_MANAGEMENT.ID' | translate }}</strong></ion-col>
          <ion-col class="col-name"><strong>{{ 'RADIO_COLLAR_MANAGEMENT.NAME' | translate }}</strong></ion-col>
          <ion-col class="col-description"><strong>{{ 'RADIO_COLLAR_MANAGEMENT.DESCRIPTION' | translate }}</strong></ion-col>
          <ion-col class="col-timestamp"><strong>{{ 'RADIO_COLLAR_MANAGEMENT.TIMESTAMP' | translate }}</strong></ion-col>
          <ion-col class="col-media"><strong>{{ 'RADIO_COLLAR_MANAGEMENT.TAGID' | translate }} </strong></ion-col>
          <ion-col class="col-edit"><strong> {{ 'RADIO_COLLAR_MANAGEMENT.STATUS' | translate }} </strong></ion-col>
          <ion-col class="col-action"><strong>{{ 'RADIO_COLLAR_MANAGEMENT.ACTION' | translate }}</strong></ion-col>
         
        </ion-row>

        <ion-row class="data" *ngFor="let collar of collars">
          <ion-col class="col-id">{{ collar.id }}</ion-col>
          <ion-col class="col-name">{{ collar.name }}</ion-col>
          <ion-col class="col-description">{{ collar.description }}</ion-col>
          <ion-col class="col-timestamp">{{ collar.created_at | date: "YYY-MM-dd HH:mm:ss" }}</ion-col>
          <ion-col class="col-media">{{ collar.imei }}</ion-col>
           <ion-col class="col-edit">
            <!-- <ion-switch [(ngModel)]="collar.status" (ionChange)="updateStatus(collar.id, collar.status)"></ion-switch> -->
            <ion-toggle [(ngModel)]="collar.status" (ionChange)="updateStatus(collar.id, collar.status)"></ion-toggle>
          </ion-col> 

          
          
          <ion-col class="col-action" >
             <ion-button size="small" color="danger"
              (click)="deleteCollar(collar.id)">{{ 'DELETE' | translate }}
            </ion-button>
            <ion-button expand="block" routerLink="/radio-collars/edit/{{ collar.id }}">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>


        
        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button aria-label="Previous" (click)="prevPage()" [disabled]="currentPage === 1" title="Previous">
                <ion-icon name="chevron-back"></ion-icon>
              </ion-button>
            </ion-buttons>
            <div class="pagination">
              <p>
                Page {{ currentPage }} of {{ totalPages }} : </p>
              <span>
                <ion-select value="10" (ionChange)="onPageSizeChange($event)">
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                  <ion-select-option value="20">25</ion-select-option>
                  <ion-select-option value="50">50</ion-select-option>
                </ion-select>

              </span>
            </div>

            <ion-buttons slot="end">
              <ion-button aria-label="Next" (click)="nextPage()" [disabled]="currentPage === totalPages" title="Next">
                <ion-icon name="chevron-forward"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>

      </ion-card>
    </ion-card-content>
  </ion-card>
  <ion-fab title="Create New Elephant" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" routerLink="/radio-collars/add" title="Add new Elephant">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
