

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img [src]="logoPath" alt="Logo">
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <ion-list lines="full">
        <ion-item>
          <ion-input label="{{'FORGOT_PASSWORD_PAGE.EMAIL' | translate}}" label-placement="floating" formControlName="email" type="text"></ion-input>
        </ion-item>

       </ion-list>

      <div>
        <ion-button expand="block" type="submit" [disabled]="forgotPasswordForm.invalid">{{ 'FORGOT_PASSWORD_PAGE.SEND_VERIFICATION_LINK' | translate}} <ion-icon
            name="arrow-forward-outline"></ion-icon></ion-button>
      </div>
    </form>

  </div>
</ion-content>
