.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
  }
  
  .image-slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    color: black;
    cursor: pointer;
  }
  
  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: black;
  }
  
  .left {
    left: 20px;
  }
  
  .right {
    right: 20px;
  }
  