<ion-content>
  <div class="ion-card">
    <ion-card-header>
      <span class="circle-icon">
        <ion-icon name="navigate-outline"></ion-icon>
      </span>
      <h1>{{ 'COMPLAINTS_MANAGEMENT.ADD_COMPLAIN'| translate }}</h1>
    </ion-card-header>
    <form [formGroup]="addComplaintsForm" (ngSubmit)="onSubmit()">


      <div class="form-group">
        <div class="form-group w-full">
          <label for="latitude">{{ 'NAME' | translate }}</label>
          <ion-input type="text" id="village" formControlName="name" class="form-control"
            fill="outline"></ion-input>
        </div>
        <div class="form-group w-full">
          <label for="longitude">{{ 'DESCRIPTION' | translate }}</label>
          <ion-input type="text" id="taluk" formControlName="description" class="form-control"
            fill="outline"></ion-input>
        </div>
        <div class="form-group w-full">
          <label for="longitude">{{ 'COMPLAINTS_MANAGEMENT.MOBILE_NUMBER' | translate }}</label>
          <ion-input type="text" id="district" formControlName="contact_number" class="form-control"
            fill="outline"></ion-input>
        </div>
        
        <div class="form-group w-full">
          <label for="longitude">{{ 'COMPLAINTS_MANAGEMENT.COMPLAINT_TYPE' | translate }}</label>
          <ion-select formControlName="complaint_type" placeholder="Select One" fill="outline">
            <ion-select-option [value]="'ATTACK_ON_HUMANS'"> {{ 'COMPLAINTS_MANAGEMENT.ATTACK_ON_HUMANS' | translate }}</ion-select-option>
            <ion-select-option [value]="'CROP_DESTRUCTION'">{{ 'COMPLAINTS_MANAGEMENT.CROP_DESTRUCTION' | translate }}</ion-select-option>
            <ion-select-option [value]="'DIRECT_SIGHTING'">{{ 'COMPLAINTS_MANAGEMENT.DIRECT_SIGHTING' | translate }}</ion-select-option>
            <ion-select-option [value]="'INDIRECT_SIGHTING'">{{ 'COMPLAINTS_MANAGEMENT.INDIRECT_SIGHTING' | translate }}</ion-select-option>
            <ion-select-option [value]="'OTHERS'">{{ 'COMPLAINTS_MANAGEMENT.OTHERS' | translate }}</ion-select-option>
          </ion-select>
        </div>
      </div>

      
 
      <div (click)="getCurrentLocation()" class="location-button">
        <ion-icon name="location"></ion-icon>
        <p>{{ 'GET_CURRENT_LOCATION' | translate }}</p>
      </div>
      <div class="form-group">
        <label for="location">{{ 'ADD_TRACK_PAGE.LOCATION' | translate }}</label>
         
         <ion-input 
        fill="outline"
        class="form-control"
        id="location"
        formControlName="location" 
        (blur)="onInputBlur()"
        (focus)="onInputFocus()"
        (ionInput)="onInputChange($event)">
        </ion-input> 
      
       
      </div>

      <div class="form-group-count">
        <div class="form-group w-full">
          <label for="latitude">{{ 'ADD_TRACK_PAGE.LATITUDE' | translate }}</label>
          <ion-input type="number" id="latitude" formControlName="latitude" class="form-control"
            fill="outline"></ion-input>
        </div>
        <div class="form-group w-full">
          <label for="longitude">{{ 'ADD_TRACK_PAGE.LONGITUDE' | translate }}</label>
          <ion-input type="number" id="longitude" formControlName="longitude" class="form-control"
            fill="outline"></ion-input>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group w-full">
          <label for="latitude">{{ 'VILLAGE' | translate }}</label>
          <ion-input type="text" id="village" formControlName="village" class="form-control"
            fill="outline"></ion-input>
        </div>
        <div class="form-group w-full">
          <label for="longitude">{{ 'TALUK' | translate }}</label>
          <ion-input type="text" id="taluk" formControlName="taluk" class="form-control"
            fill="outline"></ion-input>
        </div>
        <div class="form-group w-full">
          <label for="longitude">{{ 'DISTRICT' | translate }}</label>
          <ion-input type="text" id="district" formControlName="district" class="form-control"
            fill="outline"></ion-input>
        </div>
      </div>





<!-- 
      <div class="form-group" *ngIf="isMediaVisible()">
        <label for="media">{{ 'ADD_TRACK_PAGE.MEDIA' | translate }}</label>
        <ion-input type="file" id="media" (change)="onFileChange($event)" multiple class="form-control"
          formControlName="file" fill="outline"> </ion-input>
        <div *ngIf="previewImages.length > 0" class="preview-container">
          <div *ngFor="let image of previewImages; let i = index" class="preview-item">
            <img [src]="image.url" alt="Preview Image">
            <button ion-button (click)="removeImage(i)" class="remove-button">X</button>
          </div>
        </div>
      </div> -->

      <ion-button expand="block" type="submit" [disabled]="addComplaintsForm.invalid">{{ 'ADD_TRACK_PAGE.SUBMIT' | translate }}
      </ion-button>
    </form>
  </div>
</ion-content>
