<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img [src]="logoPath" alt="Logo">
    </div>
    <form (ngSubmit)="changePassword()" [formGroup]="passwordForm">
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="{{ hideNewPassword ? 'password' : 'text' }}" formControlName="newPassword"></ion-input>
        <ion-icon name="{{ hideNewPassword ? 'eye' : 'eye-off' }}" slot="end" (click)="toggleNewPasswordVisibility()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm New Password</ion-label>
        <ion-input type="{{ hideConfirmPassword ? 'password' : 'text' }}" formControlName="confirmPassword"></ion-input>
        <ion-icon name="{{ hideConfirmPassword ? 'eye' : 'eye-off' }}" slot="end" (click)="toggleConfirmPasswordVisibility()"></ion-icon>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="passwordForm.invalid">Change Password</ion-button>
    </form>
  </div>
</ion-content>
