


.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh; /* This will make the container take the full height of the viewport */
   
  
    max-width: 300px;
    margin: 0 auto;
  
    .logo-container {
      margin-bottom: 20px; /* Adjust spacing as needed */
      text-align: center;
    }
  
    ion-list {
      width: 100%;
  
      ion-item {
        --padding-start: 0;
        --padding-end: 0;
  
        ion-label {
          width: 100%;
        }
  
        ion-input {
          width: 100%;
          --background: transparent;
        }
      }
      .error {
        color: red;
      }
    }
  
    ion-button {
      width: 100%;
      margin-top: 30px; /* Adjust spacing as needed */
    }
  
    .additional-links {
      display: flex;
      justify-content: space-between;
      margin-top: 10px; /* Adjust spacing as needed */
    }
  }
  